@charset "UTF-8";
.quienessomos p {
  display: flex;
  justify-content: left;
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 1.1em;
  margin-right: 140px;
}

@font-face {
  font-family: "roboto-general";
  src: url("../Fuente/Roboto-Regular.ttf");
}
* {
  font-family: "roboto-general";
  color: #3e6899;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #99cae9;
}
nav img {
  height: 80px;
  margin-left: 10px;
}
nav .navbar-nav {
  margin-left: 150px;
}
nav .nav-link {
  color: #3e6899;
  font-size: 1.2em;
  font-family: "roboto-general";
  margin-top: 20px;
  margin-bottom: 20px;
}
nav .dropdown-menu {
  font-size: 1.2em;
}
nav .dropdown-item {
  color: #3e6899;
}
nav .d-flex button {
  color: #3e6899;
  border-color: #3e6899;
}
nav .d-flex button:hover {
  background-color: #3e6899;
}

/* Carrusel*/
.sectioncarrusel img {
  width: 100%;
  height: 550px;
}
.sectioncarrusel button span {
  background-color: rgba(0, 0, 0, 0.603);
}

/*titulo*/
.banner {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.banner img {
  width: 1020px;
  height: 110px;
}

/* Section Categorias */
.grid-section-categorias {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.grid-section-categorias img {
  width: 450px;
  height: 450px;
  margin-top: 20px;
}
.grid-section-categorias p {
  position: absolute;
  margin-top: 200px;
  margin-left: 75px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.603);
  font-size: 3em;
}
.grid-section-categorias .categoria-didacticos p {
  margin-left: 130px;
}

/*video*/
article {
  text-align: center;
}
article h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #3e6899;
  color: white;
}
article .videomuñeca {
  margin-top: 50px;
  width: 600px;
  height: 400px;
}

/* FOOTER*/
.grid-contenedor-footer {
  background-color: #99cae9;
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-rows: 1fr 30px;
  margin-top: 15px;
  grid-template-areas: "grid1 grid2 grid3" "grid4 grid4 grid4";
}
.grid-contenedor-footer h3 {
  font-size: 1.3em;
  text-decoration: underline;
}
.grid-contenedor-footer .cont-contacto {
  margin-left: 15%;
  margin-top: 5%;
  grid-area: grid1;
}
.grid-contenedor-footer .cont-contacto .mail {
  display: flex;
}
.grid-contenedor-footer .cont-contacto .mail img {
  margin-right: 5px;
  width: 20px;
  height: 30px;
}
.grid-contenedor-footer .cont-contacto .mail img:hover {
  transform: rotate(25deg);
  transition-duration: 0.5s;
}
.grid-contenedor-footer .cont-contacto .phone {
  display: flex;
}
.grid-contenedor-footer .cont-contacto .phone img {
  margin-right: 5px;
  width: 20px;
  height: 30px;
}
.grid-contenedor-footer .cont-contacto .phone img:hover {
  transform: rotate(25deg);
  transition-duration: 0.5s;
}
.grid-contenedor-footer .cont-newsletter {
  margin-left: 10%;
  margin-top: 5%;
  grid-area: grid2;
}
.grid-contenedor-footer .cont-newsletter .name input {
  display: block;
  width: 80%;
  margin-top: 1%;
}
.grid-contenedor-footer .cont-newsletter .susc {
  margin-top: 2%;
}
.grid-contenedor-footer .cont-newsletter .susc input {
  display: block;
  width: 80%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.grid-contenedor-footer .cont-newsletter .susc button {
  width: 30%;
  margin-left: 25%;
}
.grid-contenedor-footer .cont-newsletter .susc button:hover {
  background-color: rgb(232, 232, 232);
}
.grid-contenedor-footer .cont-ubicacion {
  margin-left: 20%;
  margin-top: 5%;
  grid-area: grid3;
}
.grid-contenedor-footer .cont-ubicacion iframe {
  width: 300px;
  height: 300px;
}
.grid-contenedor-footer .cont-copy {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  margin-left: 5%;
  grid-area: grid4;
}
.grid-contenedor-footer .cont-copy p.copyright {
  margin-left: 100px;
}

.quienessomos {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 100px;
}
.quienessomos h3 {
  display: flex;
  justify-content: left;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 140px;
}
.quienessomos h4 {
  display: flex;
  justify-content: left;
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 140px;
}
/* PÁGINA CONTACTO  */
main form {
  margin-bottom: 70px;
}
main form h2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: underline;
}
main form .forname div {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
}
main form .forname div label {
  margin-bottom: 5px;
}
main form .forname div input {
  margin-bottom: 10px;
}
main form .formmail div {
  display: flex;
  justify-content: center;
}
main form .formmail div label {
  margin-bottom: 5px;
}
main form .formmail div input {
  margin-bottom: 10px;
}
main form .formcoment div {
  display: flex;
  justify-content: center;
}
main form .formcoment div label {
  margin-bottom: 5px;
}
main form .formbutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 30px;
}
main form .formbutton input {
  border-color: #3e6899;
}
main form .formbutton input:hover {
  background-color: #99cae9;
  border-color: #99cae9;
}
main form section {
  text-align: center;
}
main form section .esperando {
  width: 90px;
  height: 50px;
}

/*PAGINA ARTE Y MANUALIDADES*/
.grid-contenedor-arte {
  display: grid;
  justify-items: center;
  grid-template-rows: 1/2fr 1/2fr 1/2fr;
  grid-template-columns: 1/2fr 1/2fr 1/2fr;
  grid-template-areas: "card card card" "card card card" "card card card";
}
.grid-contenedor-arte .card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #99cae9;
}
.grid-contenedor-arte .card h5 {
  color: #3e6899;
  text-decoration: underline;
  text-align: center;
}
.grid-contenedor-arte .card p {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}
.grid-contenedor-arte .card .btn-primary {
  background-color: #3e6899;
  border-color: #3e6899;
  margin-left: 30%;
}
.grid-contenedor-arte .card .btn-primary:hover {
  background-color: #99cae9;
  border-color: #99cae9;
}

/*PAGINA DIDACTICOS*/
.grid-contenedor-didacticos {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "card card card" "card card card";
}
.grid-contenedor-didacticos .card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #99cae9;
}
.grid-contenedor-didacticos h5 {
  color: #3e6899;
  text-decoration: underline;
  text-align: center;
}
.grid-contenedor-didacticos p {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.grid-contenedor-didacticos .btn-primary {
  background-color: #3e6899;
  border-color: #3e6899;
  margin-left: 30%;
}
.grid-contenedor-didacticos .btn-primary:hover {
  background-color: #99cae9;
  border-color: #99cae9;
}

/*Media Query - responsive*/
@media (min-width: 300px) and (max-width: 576px) {
  header nav {
    background: linear-gradient(rgba(62, 104, 153, 0.2823529412), #99cae9, rgba(62, 104, 153, 0.2823529412));
  }
  header nav ul.navbar-nav {
    margin-left: 10px;
  }
  .grid-section-categorias {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-section-categorias img {
    width: 400px;
    height: 400px;
  }
  .grid-section-categorias .categoria-didacticos p {
    margin-left: 90px;
  }
  .grid-contenedor-arte {
    display: grid;
    grid-template-columns: 1/2fr;
    grid-template-areas: "card";
  }
  .grid-contenedor-didacticos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "card";
  }
  .banner img {
    width: 400px;
    height: 70px;
  }
  .grid-contenedor-footer {
    background: linear-gradient(rgba(62, 104, 153, 0.2823529412), #99cae9, rgba(62, 104, 153, 0.2823529412));
    display: grid;
    font-size: 0.9em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "grid1" "grid2" "grid3" "grid4";
  }
  .grid-contenedor-footer .cont-contacto {
    margin-left: 10%;
    margin-top: 25%;
  }
  .grid-contenedor-footer .cont-ubicacion {
    margin-left: 10%;
  }
  .grid-contenedor-footer .cont-copy {
    font-size: 0.8em;
    margin-left: 10%;
  }
  .quienessomos {
    margin-bottom: 70px;
    margin-right: 5%;
  }
  .cont-newsletter {
    margin-bottom: 5%;
  }
  article .videomuñeca {
    margin-top: 50px;
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 577px) and (max-width: 1023px) {
  .grid-contenedor-didacticos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-contenedor-arte {
    display: grid;
    grid-template-columns: 1/2fr 1/2fr;
    grid-template-areas: "imga imga";
  }
  .grid-section-categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-contenedor-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "grid1 grid2" "grid3 grid4";
    background: linear-gradient(rgba(62, 104, 153, 0.2823529412), #99cae9, rgba(62, 104, 153, 0.2823529412));
  }
  .grid-contenedor-footer .cont-copy {
    margin-left: 1%;
    margin-top: 5%;
  }
  .grid-contenedor-footer .cont-copy p.copyright {
    margin-left: 100px;
  }
  .grid-contenedor-footer .cont-newsletter {
    margin-top: 15%;
  }
  .grid-contenedor-footer .cont-contacto {
    margin-top: 15%;
  }
  header nav {
    background: linear-gradient(rgba(62, 104, 153, 0.2823529412), rgba(62, 104, 153, 0.2823529412), #99cae9);
  }
  header nav ul.navbar-nav {
    margin-left: 50px;
  }
  .contenedor-general {
    background: linear-gradient(rgba(62, 104, 153, 0.2823529412), rgba(62, 104, 153, 0.2823529412), #99cae9);
  }
}

/*# sourceMappingURL=main.css.map */
