/*PAGINA ARTE Y MANUALIDADES*/

.grid-contenedor-arte {
    @include grid-just;
    grid-template-rows:     1/2fr 1/2fr 1/2fr;
    grid-template-columns:  1/2fr 1/2fr 1/2fr ;
    grid-template-areas: 
    "card card card"
    "card card card"
    "card card card";

    .card{
        @include margt-b (10px,10px);
        border-color: $celeste;

        h5{
           color: $azul;
           text-decoration: underline;
           text-align: center;
        }

        p{
            text-align: justify;
            @include margl-r (15px,15px);
        }

        .btn-primary{

            background-color: $azul;
            border-color: $azul;
            @include mgle(30%);
        }

        .btn-primary:hover{
            background-color:$celeste;
            border-color: $celeste;
        }
    } 
  }
 


 

