/*PAGINA DIDACTICOS*/

.grid-contenedor-didacticos{
    @include grid-just;
    grid-template-rows:   1fr 1fr 1fr;
    grid-template-columns:   1fr 1fr 1fr ;

    img{
        border: $bordeimagenes;
        border-radius: 10%;
        margin-top: 5px;
    }
   
}
