/*PAGINA DIDACTICOS*/

.grid-contenedor-didacticos{
    @include grid-just;
    grid-template-rows:   1fr 1fr ;
    grid-template-columns:   1fr 1fr 1fr ;
    grid-template-areas: 
    "card card card"
    "card card card";
    

    .card{
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: $celeste;
    }

        h5{
           color: $azul;
           text-decoration: underline;
        }

        .btn-primary{

            background-color: $azul;
            border-color: $azul;
        }

        .btn-primary:hover{
            background-color:$celeste;
            border-color: $celeste;
        }
    } 
   
