/* FOOTER*/ 


.grid-contenedor-footer{
    background-color: $celeste;
    display: grid;
    grid-template-columns: 400px 1fr 1fr ;
    grid-template-rows: 1fr 30px ;
    margin-top: 15px;
    grid-template-areas:
    "grid1 grid2 grid3"
    "grid4 grid4 grid4";
       
    h3{
        font-size: 1.3em;
        text-decoration: underline
        }

    .cont-contacto{
        margin-left: 15%;
        margin-top: 5%;
        grid-area: grid1;
        .mail{
            display: flex;
            img{
                @include marg-w-h
             }
             img:hover{
                transform: rotate(25deg);
                transition-duration: 0.5s;
             }
        }
        .phone{
            display: flex;
             img{  
                @include marg-w-h
            }
             img:hover{
                transform: rotate(25deg);
                transition-duration: 0.5s;
             }
        }
    }

    .cont-newsletter{
        margin-left: 10%;
        margin-top: 5%;
        grid-area: grid2;
        
        .name input{
            display: block;
            width: 80%;
            margin-top: 1%;
        }

        .susc{
            margin-top: 2%; 
            input{
                display: block;
                width: 80%;
                @include margt-b (1%,2%);   
             }
  
             button{
                width: 30%;
                margin-left: 25%; 
            }

            button:hover {
                background-color: rgb(232, 232, 232);
               
            }
        }
    }
    

    .cont-ubicacion{
        margin-left: 20%;
        margin-top: 5%;
        grid-area: grid3;
        iframe{
            @include w-h (300px,300px)
        }
    }

    .cont-copy{
        @include display-justicen;
        font-size: 0.8em;
        margin-left: 5%;
        grid-area: grid4;

        p.copyright{
            margin-left: 100px;  
        }
    }
}

