/* Header */

ul .nav{
    background-color: none;
}

li .nav-link{
 color: $azul;
 font-size: 1.1em;
 font-family: $font;
 margin-bottom: 20px;
 margin-top: 20px;
}

.navbar{
  background-color: $celeste;
}

 .navbar-nav{
    margin-left: 150px;
}

/* Carrusel*/

.flecha{
    background-color: $gris;
}

.bat{
    @include h (500px);
}
    


.imagen{
    @include w-h (100%,500px);
}


/* Section Categorias */ 

.categoria_manualidades p{
    position: absolute;
    margin-top: 200px;
    margin-left:75px ;
   font-weight: bold;
   color:$gris;
   font-size: 3em;
}


.categoria-didacticos p{
    position: absolute;
    margin-top: 200px;
    margin-left:130px ;
   font-weight: bold;
   color:$gris;
   font-size: 3em;
}

.grid-section-categorias img{
    @include w-h (450px,450px); 
    margin-top: 20px;
}

.grid-section-categorias{
    @include grid-just;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
