/* RESTO PÁGINAS */
/* Header */


.contenedor-general{
    @include display-justicen;
    flex-wrap: wrap;
    @include w-h (100%,100px);
    background-color: $celeste;
    align-items: center;
    justify-content: space-around;   
}

.logo{
    @include h (80px);
}

.contenedor-buscador{
    @include display-justicen;
    flex-wrap: wrap;
    width: 60%;
}


img.lupa{
    @include h (23px);
    margin-left: 4px;
    margin-top: 8px;  
    }

 .buscar{
    @include w-h (55%,40px);
    border-radius: 10px;
    border-style: hidden ;
    font-size: 0.9em;
    font-family: $font;
 }

 .inicio{
    @include h (30px);
    margin-top: 2px;  
}

.chango{
    @include w-h (30px,30px);
    margin-left: 5px;
}
