/* RESTO PÁGINAS */
/* Header */


.contenedor-general{
    @include display-justicen;
    flex-wrap: wrap;
    @include w-h (100%,100px);
    background-color: $celeste;
    align-items: center;
    justify-content: space-around;  
    
    .contenedor-logo{
        img{
            @include h (80px);
        }  
    }

    .contenedor-buscador{
        @include display-justicen;
        flex-wrap: wrap;
        width: 60%;
        input{
            @include w-h (55%,40px);
            border-radius: 10px;
            border-style: hidden ;
            font-size: 0.9em;
            font-family: $font;
         }
         img{
            @include h (23px);
            margin-left: 4px;
            margin-top: 8px;  
            } 
    }
    
    .contenedor-sesion{
        img.inicio{
            @include h (30px);
            margin-top: 2px;  
        }
        img.inicio:hover{
                transform: scale(1.3);
                transition-duration: 2s;
            }
        
        
        img.chango{
            @include w-h (30px,30px);
            margin-left: 5px;
        }
        img.chango:hover{
            transform: scale(1.3);
            transition-duration: 2s;
        }

    }
}

//Navbar

ul.nav{
       .nav-item{
       font-family: $font;
       font-size: 1.2em;
    }
    .nav-link{
        color: $azul;
     }
}