
/* Carrusel*/


.sectioncarrusel{
  img{
    @include w-h (100%,550px);
    }

  button span{
    background-color: $gris;
    }
}

/*titulo*/
 .banner{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
      img{
        width: 1020px;
        height: 110px
      }
 }
   

/* Section Categorias */ 

main.grid-section-categorias {
    @include grid-just;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    
    img{
        @include w-h (450px,450px); 
        margin-top: 20px;
       }
   p{
    position: absolute;
    margin-top: 200px;
    margin-left:75px ;
   font-weight: bold;
   color:$gris;
   font-size: 3em;
   }

  .categoria-didacticos{ 
    p{
       margin-left:130px ;
     }
   }
}  

/*video*/

article{
  text-align: center;
 
 h2{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%;
  margin-right: 30%;
  background-color:$azul;
  color: white;
 }
 
.videomuñeca{
  margin-top: 50px; 
  width: 600px;
  height: 400px;
}
}



