
/* Carrusel*/


.sectioncarrusel{
  img{
    @include w-h (100%,550px);
    }

  button span{
    background-color: $gris;
    }
}

/*titulo*/
 .banner{
  @include margt-b (30px,20px);
  text-align: center;
      img{
        @include w-h (1020px,110px);
     }
    }
   

/* Section Categorias */ 

.grid-section-categorias {
    @include grid-just;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    
    img{
        @include w-h (450px,450px); 
        margin-top: 20px;
       }
   p{
    position: absolute;
    margin-top: 200px;
    margin-left:75px ;
   font-weight: bold;
   color:$gris;
   font-size: 3em;
   }

  .categoria-didacticos{ 
    p{
       margin-left:130px ;
     }
   }
}  

/*video*/

article{
  text-align: center;
 
 h2{
  @include margt-b (30px,30px);
  @include margl-r (30%,30%);
  background-color:$azul;
  color: white;
 }
 
.videomuñeca{
  margin-top: 50px; 
  @include w-h (600px,400px);
}
}



