

/*Media Query - responsive*/

@media (min-width:300px) and (max-width:576px){

    header nav{
        background: linear-gradient($azulclaro,$celeste,$azulclaro);
        ul.navbar-nav { 
        @include mgle(10px);
        }
    }

    .grid-section-categorias {
        display: grid;
        grid-template-columns: 1fr;

        img{
            @include w-h (400px,400px); 
           }

           .categoria-didacticos{ 
            p{
               @include mgle(90px);
             }
           }
     
    }
    
       .grid-contenedor-arte{
        display: grid;
        grid-template-columns: 1/2fr;
        grid-template-areas: 
        "card"  ;
    }

        .grid-contenedor-didacticos{
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-areas: 
            "card"  ;
        }

    
       .banner{
          img{
            @include w-h (400px,70px);
         }
        }

     .grid-contenedor-footer{
          background: linear-gradient($azulclaro,$celeste,$azulclaro);
          display: grid;
          font-size: 0.9em;
          grid-template-columns:1fr ;
          grid-template-rows: 1fr 1fr; 
          grid-template-areas: 
           "grid1"
           "grid2"
           "grid3"
           "grid4";
            
           .cont-contacto{
                @include mgle(10%);
                margin-top: 25%;
                
        }
          .cont-ubicacion{
            @include mgle(10%);  
        }

        .cont-copy{
            font-size: 0.8em;
            @include mgle(10%);
            
        }
   }
     .quienessomos {
         margin-bottom: 70px;
         @include margl-r (20px,20px);
         text-align: left;
        
         h3{
           @include mgri (70px);
         }

         h4{
            @include mgri (70px);
         }

         p{
            @include mgri (70px);
         }
         
    }

        .cont-newsletter{
            margin-bottom: 5%; 
    }

    article{ 
      .videomuñeca{
        margin-top: 50px; 
        @include w-h (400px,400px);
      }
}
}


@media (min-width:577px) and (max-width:1023px){
   
    .grid-contenedor-didacticos{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .grid-contenedor-arte{
        display: grid;
        grid-template-columns: 1/2fr 1/2fr ;
        grid-template-areas: 
        "imga imga" ;
    }
    .grid-section-categorias{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
 
    .grid-contenedor-footer{
        grid-template-columns:1fr  1fr;
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
        "grid1 grid2"
        "grid3 grid4";
        background: linear-gradient($azulclaro,$celeste,$azulclaro);
            
        .cont-copy{
            @include mgle(1%);
            margin-top: 5%;
          
            p.copyright{
                @include mgle(100px);
            }
        }
        .cont-newsletter{
            margin-top: 15%;
        }
        .cont-contacto{
            margin-top: 15%;
    }
}

       header nav{
        background: linear-gradient($azulclaro,$azulclaro,$celeste);
           ul.navbar-nav { 
             @include mgle(50px);
            }
        }
  
        .contenedor-general{
            background: linear-gradient($azulclaro,$azulclaro,$celeste);
         }
        }