nav{
    background-color: $celeste;
    img{
        @include h (80px);
        margin-left: 10px; 
  
    }
    .navbar-nav { 
    margin-left: 150px;
    }

    .nav-link{
        color: $azul;
        font-size: 1.2em;
        font-family: $font;
        @include margt-b (20px,20px);
       }
       
    .dropdown-menu{
        font-size: 1.2em;
    } 

     .dropdown-item{
        color: $azul;
    }
    
  .d-flex button{
    color: $azul;
    border-color: $azul;
  }
   
  .d-flex button:hover{
  background-color: $azul;
}
}