header nav{
    background-color: $celeste;
    img{
        @include h (80px);
        margin-left: 10px; 
  
    }
    ul .navbar-nav { 
    margin-left: 150px;
    }

    li .nav-link{
        color: $azul;
        font-size: 1.2em;
        font-family: $font;
        @include margt-b (20px,20px);
       }
       
    li .dropdown-menu{
        font-size: 1.2em;
    }  
    li .dropdown-item{
        color: $azul;
    }

 
    
}