
.quienessomos {
    @include margt-b (80px,100px);
    margin-right: 100px;
       h3{
        display: flex;
        justify-content: left;
        font-style: italic;
        font-size: 1.5em;
        @include margt-b (20px,20px);
        @include margl-r (70px,140px);
        }

        h4{
        display: flex;
        justify-content: left;
        font-size: 1.3em;
        @include margt-b (20px,20px);
        @include margl-r (70px,140px);
        }

        p{
            @extend %config;

        }

    }




