@mixin display-justicen {
    display: flex;
    justify-content: center;
}

@mixin w-h ($w,$h){
    width: $w;
    height: $h;
}

@mixin h($h){
    height: $h;
}

@mixin marg-w-h{
    margin-right: 5px;
    width: 20px;
    height: 30px;
}

@mixin grid-just {
    display: grid;
    justify-items: center;
}

@mixin dgrid-templ{
    display: grid;
    grid-template-columns: 1fr
}

@mixin margt-b ($t,$b){
    margin-top:$t ;
    margin-bottom:$b ;
}

@mixin margl-r ($l,$r){
    margin-left:$l ;
    margin-right:$r ;
}