
@font-face {
    font-family:"roboto-general" ;
    src: url("../Fuente/Roboto-Regular.ttf");
}

*{
    font-size: "roboto-general";
    color: #3e6899;
    margin: 0;
    padding: 0;  
}

/* PÁGINA INICIO  */
/* Header */

.contenedor-general{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: center;
    background-color: #99cae9;
    align-items: center;
    justify-content: space-around;
    
}

.logo{
    height: 80px;
    
}

.contenedor-buscador{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;   
}


img.lupa{
    height: 23px;
    margin-left: 4px;
    margin-top: 8px;  
    }

 .buscar{
    height: 40px ;
    width: 55%;
    border-radius: 10px;
    border-style: hidden ;
    font-size: 0.9em;
    font-family: "roboto-general";
 
 }

 .inicio{
    height: 30px;
    margin-top: 2px;
     
}

.chango{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

/* Nav*/

.navegador{
    height: 102px; 
    
}

.navbar{
    justify-content: center;
    font-size: 1.2em;  
}


.listamenu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 20px 20px;
      
}


li{
    padding-inline: 20px;   
}


li:hover{
    font-weight: bold;
    
}

li a{
    color: #3e6899;
    font-family: "roboto-general";
    font-size: 0.9em ;
    text-decoration: none;
}



/* Carrusel*/ 


.flecha{
    background-color: rgba(128, 128, 128, 0.185);
}

.bat{
    height: 500px;
}

.imagen
{
    height: 500px;
    width: 100%;
}

/* Banner Categorias*/ 

.categoria_manualidades p{
    position: absolute;
    margin-top: 200px;
    margin-left:75px ;
   font-weight: bold;
   color:rgba(0, 0, 0, 0.603);
   font-size: 3em;
}


.categoria-didacticos p{
    position: absolute;
    margin-top: 200px;
    margin-left:130px ;
   font-weight: bold;
   color:rgba(0, 0, 0, 0.603);
   font-size: 3em;
}
.grid-section-categorias img{
    
    width: 450px;
    height: 450px; 
    margin-top: 20px;
}


.grid-section-categorias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
     
}
@media (min-width:300px) and (max-width:576px){
    .grid-section-categorias{
        display: grid;
        grid-template-columns: 1fr ;
       
    }
}

@media (min-width:577px) and (max-width:1023px){
    .grid-section-categorias{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}


/* FOOTER*/ 
.divfooter{
    background-color: #99cae9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.copy-contend{
    font-size: 0.8em;
    margin-top: 50px;
    
}


.copy-contend{
    display: flex;

}
.copyright{
  margin-left: 25px;
    
}

.contacto{
    margin-top: 30px;
    margin-left: 50px;
}

footer  h3{
    font-size: 1.5em;
    text-decoration: underline
}

.mail{
    display: flex;
    margin-top: 20px;
  
}

.mail img{
  
   margin-right: 5px;
   width: 20px;
   height: 30px;
}

.phone{
    display: flex;
    margin-top: 20px;
   

}

.phone img{
    
    margin-right: 5px;
    width: 20px;
    height: 30px;

}


.Newsletter{
    margin-left: 190px;
}

.Newsletter h3{
    margin-top: 30px;

}

.Newsletter p{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

.name{
    margin-top: 20px;
}

.name label{
    margin-right:  5px;
}

.susc{
    margin-top: 20px;
    
}

.susc label{
    margin-right: 5px;
}

.susc input{
    
    width: 288px;
}

.Newsletter button{
    margin-top: 20px;
    margin-left:100px;
    width: 60px;
}

.ubicacion{
    margin-left: 160px;
}
.ubicacion h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ubicacion p{
    margin-bottom: 20px;
}

.ubicacion iframe{
    width: 300px;
    height: 300px;
}



/* PÁGINA QUIENES SOMOS  */

.quienessomos h3{
    display: flex;
    justify-content: left;
    font-style: italic;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.quienessomos h4{
    display: flex;
    justify-content: left;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;

}

.p1{
    display: flex;
    justify-content: left;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    font-size: 1.1em;

}

.p2{
    display: flex;
    justify-content: left;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.p3{
    display: flex;
    justify-content: left;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.p4{
    display: flex;
    justify-content: left;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 1.1em;
  
}

/* PÁGINA CONTACTO  */


form h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-decoration: underline;
}

form div{
    font-size: 1.1em;
}
.forname div{
   display: flex;
   justify-content: center;
}

.forname1{

    margin-bottom: 5px;
}

.forname2{

    margin-bottom: 10px;
}

.formmail div{
    display: flex;
    justify-content: center;
}

.formail1{
    margin-bottom: 5px;
}

.formail2{
    margin-bottom: 10px;
}

.formcoment div{
    display: flex;
    justify-content: center;

}

.formcoment1{
    margin-bottom: 5px;
}

.formbutton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
   
}

/*PAGINA ARTE Y MANUALIDADES*/


.grid-contenedor-arte {
    
    display: grid;
    grid-template-rows:     1/2fr 1/2fr 1/2fr;
    grid-template-columns:  1/2fr 1/2fr 1/2fr ;
    justify-items: center;
    grid-template-areas: 
    "imga imga imga"
    "imga imga imga "
    "imga imga imga";
 
}

.imga{
    border: 2px solid #3e689948;
    border-radius: 10%;
    margin-top: 5px;
}

@media (min-width:300px) and (max-width:576px){
    .grid-contenedor-arte{
        display: grid;
        grid-template-columns: 1/2fr;
        grid-template-areas: 
        "imga"
        ;
    }
}

@media (min-width:577px) and (max-width:1023px){
        .grid-contenedor-arte{
            display: grid;
            grid-template-columns: 1/2fr 1/2fr ;
            grid-template-areas: 
            "imga imga" ;
        }
}


/*PAGINA DIDACTICOS*/


.grid-contenedor-didacticos{

    display: grid;
    grid-template-rows:   1fr 1fr 1fr;
    grid-template-columns:   1fr 1fr 1fr ;
    justify-items: center;
}

.grid-contenedor-didacticos img{

    border: 2px solid #3e689948;
    border-radius: 10%;
    margin-top: 5px;
}

@media (min-width:300px) and (max-width:576px){
    .grid-contenedor-didacticos{
        display: grid;
        grid-template-columns: 1fr ;
       
    }
}

@media (min-width:577px) and (max-width:1023px){
    .grid-contenedor-didacticos{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}